source https://api.nuget.org/v3/index.json

nuget FSharp.Core
nuget Fable.JsonConverter
nuget Giraffe
nuget Microsoft.AspNetCore.Authentication.Cookies >= 2.0.0
nuget Microsoft.AspNetCore.Cors >= 2.0.0
nuget Microsoft.AspNetCore.Diagnostics >= 2.0.0
nuget Microsoft.AspNetCore.Hosting >= 2.0.0
nuget Microsoft.AspNetCore.Server.IISIntegration >= 2.0.0
nuget Microsoft.AspNetCore.Server.Kestrel >= 2.0.0
nuget Microsoft.AspNetCore.StaticFiles >= 2.0.0
nuget Microsoft.Extensions.Configuration >= 2.0.0
nuget Microsoft.Extensions.Configuration.FileExtensions >= 2.0.0
nuget Microsoft.Extensions.Configuration.Json >= 2.0.0
nuget Microsoft.Extensions.DependencyInjection >= 2.0.0
nuget Microsoft.Extensions.Logging.Console >= 2.0.0
nuget Microsoft.Extensions.Logging.Debug >= 2.0.0
nuget Newtonsoft.Json
nuget Unosquare.Raspberry.IO
nuget Unosquare.Wiringpi